/*
  lipu CSS ni li weka e nasa pi ilo linluwi.
  pilin pi lipu ni li tan lipu modern-normalize: https://github.com/sindresorhus/modern-normalize
  kin la ona li tan lipu cssremedy: https://github.com/jensimmons/cssremedy
*/
@layer preflight {
  *,
  ::before,
  ::after,
  ::backdrop,
  ::file-selector-button {
    box-sizing: border-box; /* Use a better box model. */
    margin: 0; /* Remove default margins and padding. */
    padding: 0; /* Remove default margins and padding. */
    border: 0 solid; /* Reset all borders. */
  }

  html {
    font-family:
      ui-sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji"; /* Improve consistency of default fonts in all browsers. */
    line-height: 1.5; /* Correct the line height in all browsers. */
    -webkit-text-size-adjust: 100%; /* Prevent adjustments of font size after orientation changes in iOS. */
    tab-size: 4; /* Use a more readable tab size. */
    -webkit-tap-highlight-color: transparent; /* Disable tap highlights on iOS. */
  }

  hr {
    height: 0; /* Add the correct height in Firefox. */
    color: inherit; /* Correct the inheritance of border color in Firefox. */
    border-top-width: 1px; /* Reset the default border style to a 1px solid border. */
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted; /* Add the correct text decoration in Chrome, Edge, and Safari. */
    text-decoration: underline dotted; /* Add the correct text decoration in Chrome, Edge, and Safari. */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: inherit; /* Remove the default font size for headings. */
    font-weight: inherit; /* Remove the default font weight for headings. */
  }

  a {
    color: inherit; /* Reset links to optimize for opt-in styling instead of opt-out. */
    -webkit-text-decoration: inherit; /* Reset links to optimize for opt-in styling instead of opt-out. */
    text-decoration: inherit; /* Reset links to optimize for opt-in styling instead of opt-out. */
  }

  b,
  strong {
    font-weight: bolder; /* Add the correct font weight in Chrome and Safari. */
  }

  code,
  kbd,
  samp,
  pre {
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace; /* Improve consistency of default fonts in all browsers. */
    font-size: 1em; /* Correct the odd 'em' font sizing in all browsers. */
  }

  small {
    font-size: 80%; /* Add the correct font size in all browsers. */
  }

  sub,
  sup {
    font-size: 75%; /* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
    line-height: 0; /* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
    position: relative; /* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
    vertical-align: baseline; /* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
  }
  sub {
    bottom: -0.25em; /* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
  }
  sup {
    top: -0.5em; /* Prevent 'sub' and 'sup' elements from affecting the line height in all browsers. */
  }

  table {
    text-indent: 0; /* Remove text indentation from table contents in Chrome and Safari. */
    border-color: inherit; /* Correct table border color inheritance in Chrome and Safari. */
    border-collapse: collapse; /* Remove gaps between table borders by default. */
  }

  :-moz-focusring {
    outline: auto; /* Use the modern Firefox focus style for all focusable elements. */
  }

  legend {
    padding: 0; /* Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers. */
  }

  progress {
    vertical-align: baseline; /* Add the correct vertical alignment in Chrome and Firefox. */
  }

  summary {
    display: list-item; /* Add the correct display in Chrome and Safari. */
  }

  img,
  svg,
  video,
  canvas,
  audio,
  iframe,
  embed,
  object {
    display: block; /* Make replaced elements `display: block` by default. */
    vertical-align: middle; /* Add `vertical-align: middle` to align replaced elements more sensibly by default. */
  }

  img,
  video {
    max-width: 100%; /* Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. */
    height: auto; /* Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. */
  }

  button,
  input,
  optgroup,
  select,
  textarea,
  ::file-selector-button {
    font: inherit; /* Inherit font styles in all browsers. */
    font-feature-settings: inherit; /* Inherit font styles in all browsers. */
    font-variation-settings: inherit; /* Inherit font styles in all browsers. */
    letter-spacing: inherit; /* Inherit font styles in all browsers. */
    color: inherit; /* Inherit font styles in all browsers. */
    border-radius: 0; /* Remove border radius in all browsers. */
    background-color: transparent; /* Remove background color in all browsers. */
    opacity: 1; /* Ensure consistent opacity for disabled states in all browsers. */
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder; /* Restore default font weight. */
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px; /* Restore indentation. */
  }

  ::file-selector-button {
    margin-inline-end: 4px; /* Restore space after button. */
  }

  ::placeholder {
    opacity: 1; /* Reset the default placeholder opacity in Firefox. */
  }

  @supports (not (-webkit-appearance: -apple-pay-button)) /* Not Safari */ or
    (contain-intrinsic-size: 1px) /* Safari 17+ */ {
    ::placeholder {
      color: color-mix(
        in oklab,
        currentcolor 50%,
        transparent
      ); /* Set the default placeholder color to a semi-transparent version of the current text color. */
    }
  }

  textarea {
    resize: vertical; /* Prevent resizing textareas horizontally by default. */
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none; /* Remove the inner padding in Chrome and Safari on macOS. */
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh; /* Ensure date/time inputs have the same height when empty in iOS Safari. */
    text-align: inherit; /* Ensure text alignment can be changed on date/time inputs in iOS Safari. */
  }

  ::-webkit-datetime-edit {
    display: inline-flex; /* Prevent height from changing on date/time inputs in macOS Safari when the input is set to `display: block`. */
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0; /* Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers. */
  }

  ::-webkit-datetime-edit,
  ::-webkit-datetime-edit-year-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-minute-field,
  ::-webkit-datetime-edit-second-field,
  ::-webkit-datetime-edit-millisecond-field,
  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0; /* Remove excess padding from pseudo-elements in date/time inputs to ensure consistent height across browsers. */
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1; /* Center dropdown marker shown on inputs with paired `<datalist>`s in Chrome. */
  }

  :-moz-ui-invalid {
    box-shadow: none; /* Remove the additional `:invalid` styles in Firefox. */
  }

  button,
  input:where([type="button"], [type="reset"], [type="submit"]),
  ::file-selector-button {
    appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
  }

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    height: auto; /* Correct the cursor style of increment and decrement buttons in Safari. */
  }

  [type="search"] {
    -webkit-appearance: textfield; /* Correct the odd appearance in Chrome and Safari. */
    outline-offset: -2px; /* Correct the outline style in Safari. */
  }

  ::-webkit-file-upload-button {
    -webkit-appearance: button; /* Correct the inability to style clickable types in iOS and Safari. */
    font: inherit; /* Change font properties to 'inherit' in Safari. */
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important; /* Make elements with the HTML hidden attribute stay hidden by default. */
  }
}
