---
import Layout from "@/layouts/Layout.astro";
import Article from "@/content/about.md";
---

<style>
	.badge {
		display: flex;
		justify-content: center;
	}
</style>

<Layout
	title={"Toki Pona (Homepage)"}
	description={"Toki Pona: the language with only 120 words."}
>
	<section style="grid-area: left;" class="prose">
		<h1>About us</h1>
		<Article></Article>
	</section>
	<section style='grid-area: right;' class="prose">
		<h2>Contact us</h2>

		<p>
			External inquiries can be directed to <a href="mailto:kulupu@tokipona.net">kulupu@tokipona.net</a>.
		</p>

		<h2>Contributing</h2>

		<p>
			Development of <b>tokipona.net</b> is mostly organized through the Discord server <a href="https://discord.gg/A3ZPqnHHsy" target="_blank">pali pona</a>.
			Our <a href="https://github.com/pona-la/tokipona.net" target="_blank">GitHub</a> codebase is open to browsing, issues, and pull requests.
		</p>

		<p>
			All Toki Pona speakers are welcome to contribute to this website.
		</p>

		<p class="badge">
			<a href="https://discord.gg/A3ZPqnHHsy">
				<img src="https://raw.githubusercontent.com/pona-la/.github/refs/heads/main/assets/pali-pona-badge.svg">
			</a>
		</p>
	</section>
</Layout>
