---
import TokiPona from '../assets/sitelenpona/tokipona.svg';
import ThemeToggle from './ThemeToggle.astro';
---

<nav>
	<div class='nav-left'>
		<a href='/' aria-label='Home'>
			<TokiPona />
		</a>
		<a href='/'>Page1</a>
		<a href='/'>Page2</a>
		<a href='/'>Page3</a>
		<a href='/'>Page4</a>
		<a href='/'>Page5</a>
	</div>
	<div class='nav-right'>
		<ThemeToggle />
	</div>
</nav>

<style>
	nav {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 4rem;
		background-color: var(--background);
		border-bottom: 3px solid var(--text);
		padding-left: 1rem;
		padding-right: 1rem;

		.nav-left {
			flex-grow: 1;
			display: flex;
			gap: 1rem;
			align-items: center;
			a {
				color: var(--text);
				font-size: 1.75rem;
				font-weight: 700;
				&:focus-visible {
					border: 3px solid var(--accent);
					border-radius: 0.25rem;
				}
				&:hover {
					color: var(--accent);
					text-decoration-line: underline;
				}
				@media (prefers-reduced-motion: no-preference) {
					transition-property: color;
					transition-duration: 0.2s;
					transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
				}
				.tokipona {
					width: 2.5rem;
					height: 2.5rem;
				}
			}
		}
	}
</style>
