---
import Walo from '../assets/sitelenpona/walo.svg';
import Pimeja from '../assets/sitelenpona/pimeja.svg';
---

<theme-toggle>
	<label>
		<input id='theme-toggle' type='checkbox' aria-label='Toggle Theme' />
		<span class='sr-only'>Toggle Theme</span>
		<theme-toggle-off><Walo /></theme-toggle-off>
		<theme-toggle-on><Pimeja /></theme-toggle-on>
	</label>
</theme-toggle>

<style>
	theme-toggle {
		label {
			position: relative;
			display: inline-grid;
			cursor: pointer;
			place-content: center;
			vertical-align: middle;
			user-select: none;
			aspect-ratio: 1 / 1;
			height: 3rem;
			input {
				appearance: none;
				border: none;
			}
			input:focus-visible {
				border: 3px solid var(--accent);
				border-radius: 0.25rem;
			}
			&:hover {
				> * {
					color: var(--accent);
				}
			}
			> * {
				color: var(--text);
				& > svg {
					width: 2.5rem;
					height: 2.5rem;
				}
				grid-column-start: 1;
				grid-row-start: 1;
				@media (prefers-reduced-motion: no-preference) {
					transition-property: opacity, color;
					transition-duration: 0.2s;
					transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
				}
			}
			theme-toggle-on {
				opacity: 0;
			}
			input:checked ~ theme-toggle-off {
				opacity: 0;
			}
			input:checked ~ theme-toggle-on {
				opacity: 1;
			}
			.sr-only {
				position: absolute;
				width: 1px;
				height: 1px;
				padding: 0;
				margin: -1px;
				overflow: hidden;
				clip: rect(0, 0, 0, 0);
				white-space: nowrap;
				border: 0;
			}
		}
	}
</style>

<script>
	const themeToggle = document.getElementById('theme-toggle') as HTMLInputElement;

	const theme = localStorage.getItem('theme');
	if (theme === null) {
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			themeToggle.checked = true;
		}
	}
	if (theme === 'dark') themeToggle.checked = true;
	if (theme === 'light') themeToggle.checked = false;

	themeToggle.addEventListener('change', () => {
		localStorage.setItem('theme', themeToggle.checked ? 'dark' : 'light');
	});
</script>
